div {
    max-width: 400px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }
  
  span {
    color: #3498db;
    cursor: pointer;
  }
  
  span:hover {
    text-decoration: underline;
  }
  