div {
    max-width: 300px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  